:root {
    // theme colors
    --theme-sky: #87ceeb;
    --theme-cloud: #f5f5f5;
    --theme-light-green: #BBD443;
    --theme-dark-green: #79A529;
    --theme-dirt: #88674e;

    //  fonts
    --gsb: Gill-Sans-Bold;
    --gsi: Gill-Sans-Italic;
    --gsl: Gill-Sans-Light;
    --gsli: Gill-Sans-Light-Italic;
    --gsr: Gill-Sans-Regular;
    --gssi: Gill-Sans-SemiBold-Italic;
    --pts: PTSerif-Regular;
}